# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.xcuserdata
*.xcuserstate
IIJWidget.xcodeproj/project.xcworkspace/xcuserdata/**/*.xcuserstate
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
.swift-module-cache/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Tools
Tools/IIJFetcher/.build/

# Custom
*.swp
build.log
buildServer.json
resp_log
.gemini-clipboard